.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    min-height: 100vh;
    /* padding: 20px; */
}

.navbar-register {
    width: 100%;
}

.form-register {
    width: 100%;
    display: flex;
    justify-content: center;
}